{% extends "holzstock/base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage1{% endblock %}

{% block inner_content %}

    {% for block in page.body %}
        {% if block.block_type == 'jumbotron' %}
            {{ block.value }}
        {% else %}
            <section class="block-{{ block.block_type }}">
                {% include_block block %}
            </section>
        {% endif %}
    {% endfor %}

    <!-- iframe width="560" height="315" src="https://www.youtube.com/embed/qdUOH3GeqxY" frameborder="0" allowfullscreen></iframe -->
{% endblock %}
